@model ExpertAssessment.WebUI.Models.LoginModel
<div class="span3 bs-docs-sidebar">
   @using (Html.BeginForm("Login", "Account"))
   {
    
        <h4 @*class="modal-header"*@>Auth </h4>
@*<div class="modal-body">*@
        @Html.LabelFor(x => x.Login, "Login")
        @Html.TextBoxFor(x => x.Login)
        @Html.ValidationMessageFor(x => x.Login)

        @Html.LabelFor(x => x.Pass, "Password")
        @Html.TextBoxFor(x => x.Pass)
        @Html.ValidationMessageFor(x => x.Pass)
        <p></p>
        <input type="submit" value ="Enter" class="btn btn-primary" data-toggle="button"/>
        <a type="button" class="btn btn-primary" data-toggle="button" href ="@Url.Action("Registration", "Account")">Registration</a>
@*</div>*@
   }
</div>
